{% extends 'base.html' %}
{% load i18n %}
{% load comments %} 
{% block title %}{% trans 'Yer imi:' %}
    {{ shared_bookmark.bookmark.title|escape }} {% endblock %}
{% block head %}
   <h2><a href="/vote/?id={{ shared_bookmark.id }}"
      class="vote">{% trans '[beğen]' %}</a>
   <a href="{{ shared_bookmark.bookmark.link.url }}" class="title" target="_blank">
    {{ shared_bookmark.bookmark.title|escape }}</a> </h2>
{% endblock %}
{% block content %}
  <div class="paragraf">{% trans 'Gönderen:' %}
  <a href="/user/{{ shared_bookmark.bookmark.user.username }}/"
       class="username">
    {{ shared_bookmark.bookmark.user.username }}</a> 
  <span class="vote-count">{% trans 'Beğeni:' %} {{ shared_bookmark.votes }}</span> </div>
  <h2>{% trans 'Yorumlar' %}</h2>
  {% load markup %}
   
  {% get_comment_count for bookmarks.sharedbookmark shared_bookmark.id as comment_count %}
  {% get_comment_list for bookmarks.sharedbookmark shared_bookmark.id as comment_list %}

  
  {% for comment in comment_list %}
      <div class="comment">
        <p><b>{{ comment.name }}</b> yazdı:</p>
        {{ comment.comment|escape|urlizetrunc:40|linebreaks }}
             {% ifequal user comment.user %}       <!-- eğer giriş yapılan kullanıcı ile yorum yazan aynı ise.. -->
               <a href="{% url comments-delete comment.id %}">{% trans 'yorumunu sil' %}</a> 
             {% else %}
               <a href="{% url comments-flag comment.id %}">{% trans 'şikayet et' %}</a>
             {% endifequal %}

         

      </div>
  {% endfor %}
     <div class="comment-form">
    <p>{% trans 'Toplam yorum:' %} {{ comment_count }}  </p>
     {% render_comment_form for bookmarks.sharedbookmark shared_bookmark.id %}
     </div>
{% endblock %}
