{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title|escape }} | {% trans 'Alemgir - LikedFeed site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Alemgir - LikedFeed Yönetimi' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}


#Bu dosyayı ben yazmadım. 
#Kök-dizin>usr>lib>pythonx.x>site-packages>django>contrib>admin>templates
#içindeki dosyayım alıp, kendi projemiz içindeki admin klasörüne kopyaladım. 
#Eğer kendi projemizde "admin" klasörü varsa, bu dosyayı okuyor ve ayarlar buranın içindeki gibi oluyor.
